/*
style1.css
---------
 
By FRANOT-NARTEY Alexandre 
*/

@import url('https://fonts.googleapis.com/css2? family= Pacifico & family= Redacted+Script:wght@300 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2? family= Fredoka+One & display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
.footer{
	border: 5px outset;
    font-family : 'Fredoka One', cursif ;
    text-align: center;
}
body
{
    overflow-x: hidden;
    background: #ffff;
    min-height: 100vh;
}

#header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

#header .logo
{
    color : #700606;
    font-weight: 700;
    font-size: 80px;
    text-decoration: none;
}
#header ul
{
    display: flex;
    justify-content:center;
    align-items: center;
}
#header ul li 
{
    list-style: none;
    margin-left: 20px;
}
#header ul li a 
{
    text-decoration: none;
    padding: 6px 15px;
    color: #650909 ;
    border-radius: 20px;
}
#header ul li a:hover,
#header ul li a.active
{
    background:  #700606;
    color: rgb(255, 255, 255);
}

.sec
{
    position: relative;
    padding: 100px;
    background: #094b65;

}
.sec h2
{
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 10px;
}
.sec p
{
    font: size 3.5em;
    color: #fff;
}
section
{
    position:relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
section #texte 
{
    position:absolute;
    color: #650909;
    font-size: 10vw;
    text-align: center;
    line-height: 0.55em;
    font-family: 'Lobster', cursive;
    transform: translateY(-50%);
    
}
section #texte samp
{
    font-size: 0.20em;
    letter-spacing:2px;
    font-weight: 400;
    font-family: 'Roboto Mono', monospace;
}
.Social
{
	list-style-type: none;
	display: inline-block;
    text-align: center;
    list-style-position: center;
}
